@page
@model ReSplash.Pages.Photos.DeleteModel

@{
    ViewData["Title"] = "Delete";

    string imagePath = "/photos/" + Model.Photo.FileName;
}

<h1>Are you sure you want to delete this?</h1>

<br />

<div class="row">
    <div class="col-md-6">
        <img src="@imagePath" class="img-fluid" />
    </div>
</div>

<br />

<form method="post">
    <input type="hidden" asp-for="Photo.PhotoId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> &nbsp;&nbsp;
    <a asp-page="./Index" class="btn btn-outline-dark">Cancel</a>
</form>
