html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.thumbnail {
    width: 200px;
}

/* Home page banner image */
.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/banner.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}

/* Home page image grid layout */

.pin-container {
    width: 100%;
    margin: 20px auto;
    columns: 3;
    column-gap: 20px;
}

    .pin-container .pin-box {
        width: 100%;
        margin-bottom: 20px;
        break-inside: avoid;
        position: relative;
    }

        .pin-container .pin-box img {
            max-width: 100%;
            cursor: zoom-in;
        }

            .pin-container .pin-box img:hover {
                cursor: zoom-in;
                filter: brightness(75%);
            }

.no-bold {
    font-weight: normal;
}

@media (max-width: 922px) {
    .pin-container {
        columns: 2;
    }
}

@media (max-width: 562px) {
    .pin-container {
        columns: 1;
    }
}